.about-page {
  height: 100vh;
  background-color: var(--prm-lg);
  display: flex;
}

.about-page .about-content,
.about-page .avatar-container {
  width: 50%;
  height: 100%;
}

.about-page .avatar-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-page .avatar-container .avatar-img {
  width: 270px;
  height: 270px;
}

.about-page .about-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.about-page .title {
  font-size: 35px;
  font-weight: 900;
}

@media (max-width: 600px) {
  .about-page {
    flex-direction: column;
  }
  .about-page .about-content,
  .about-page .avatar-container {
    width: 100%;
    height: 50%;
  }
  .about-page .avatar-container {
    height: 40%;
  }
  .about-page .about-content {
    height: 60%;
    justify-content: flex-start;
  }
  .about-page .about-content p {
    margin-left: 15px;
  }
  .about-page .avatar-container .avatar-img {
    width: 170px;
    height: 170px;
  }
}