.about-divider-top {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.about-divider-top svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 76px;
}

.about-divider-top .shape-fill {
  fill: var(--prm-lg);
}

.about-divider-bottom {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(0deg);
}

.about-divider-bottom svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 76px;
}

.about-divider-bottom .shape-fill {
  fill: var(--prm-lg);
}