:root {
  --side-padding: 60px;
}

.welcome-page {
  height: 100vh;
  padding-left: var(--side-padding);
  padding-right: var(--side-padding);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.welcome-page .salute {
  font-size: 45px;
  width: 70%;
  font-weight: 900;
  word-spacing: 2px;
  line-height: 1.6;
}

.welcome-page .salute .my-name {
  border-bottom: 3px solid var(--prm);
}

.welcome-page .more-button-container {
  height: 60px;
  margin-top: 30px;
  display: flex;
  align-items: center;
}

.welcome-page .more-button-container button {
  width: 150px;
  height: 60px;
}

.contact-button {
  background-color: var(--bg);
  margin-left: 15px;
}
.contact-button:active {
  transition: 0ms;
  background-color: var(--bg-drk);
}

@media (max-width: 600px) {
  .welcome-page {
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
    align-items: center;
  }
  .welcome-page .salute {
    font-size: 35px;
    width: 100%;
  }
}